@{
    ViewBag.Title = "Xác nhận thiết lập lại mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Vui lòng kiểm tra hòm thư để thiết lập lại mật khẩu
    </p>
</div>
	
