@{
    ViewBag.Title = "Xác nhận thiết lập lại mật khẩu";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Đã thiết lập lại mật khẩu thành công @Html.ActionLink("Vui lòng click vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
