@{
    ViewBag.Title = "Home Page";
}


<div id="myCarousel" class="carousel-inner" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for slides -->

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div style="background-image:url('http://sv1.upsieutoc.com/2017/03/17/HomePage2.jpg');background-size:cover ;height:500px"> </div>
            @*<img src="/Content/Images/HomePage1.png" class="img-responsive text-center"   >*@
        </div>

        <div class="item">
            <div style="background-image:url('http://sv1.upsieutoc.com/2017/03/17/HomePage1.png');background-size:cover ;height:500px">  </div>
        </div>

        <div class="item">
            <div style="background-image:url('http://sv1.upsieutoc.com/2017/03/17/HomePage3.jpg');background-size:cover ;height:500px">  </div>
        </div>

        <div class="item">
            <div style="background-image:url('http://sv1.upsieutoc.com/2017/03/17/HomePage4.jpg');background-size:cover ;height:500px">  </div>
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<hr />
@ViewBag.Testlogic
<div class="col-xs-12">
    <h1 class="text-center" >TỰ ĐỘNG HÓA QUY TRÌNH BÁN HÀNG VÀ BÁO CÁO</h1>

</div>

    <div class="row">
        <div class="col-md-6">
            <h1 class="step-desc-title">Gọi món</h1>
        
            <p> Bình thường nhân viên phục vụ phải viết bằng giấy vừa tốn thời gian, đầu bếp vừa khó đọc dẫn đến khả năng làm nhầm món.
            </p>
            <p>
                Gọi món sử dụng máy tính bảng sẽ nhanh và chính xác hơn rất nhiều, tránh được tất cả nhầm lẫn.  
            </p>

        </div>
        <div class="col-md-6"><img src="https://maybanhang.net/wp-content/themes/Chameleon/images/quanlynhahang/goi-mon.jpg" alt="Gọi món" >
</div>
         
    </div>
<div class="row">
    <div class="col-md-6"><img src="https://maybanhang.net/wp-content/themes/Chameleon/images/quanlynhahang/chuyen-phieu.jpg" alt="Chuyển phiếu gọi món xuống bếp" >
</div>
    <div class="col-md-6">
        <h1 class="step-desc-title">Chuyển phiếu gọi món xuống bếp</h1>
        <p>Việc chạy xuống bếp để đưa phiếu gọi món làm tốn thời gian và sức lực của nhân viên phục vụ.</p>
        <p>Với  phần mềm Demo Restaurant sau khi gọi món, nhân viên chỉ cần bấm một nút trên máy tính bảng để phiếu gọi món được in ở bếp một cách nhanh chóng và chính xác. Sử dụng cách làm này nhân viên không phải di chuyển nên phục vụ được nhiều khách hơn.  </p>

    </div>
</div>
<div class="row">
    <div class="col-md-6">

        <h1 class="step-desc-title">Tính tiền</h1>

        <p>Nhân viên tính tiền và thanh toán với khách ngay tại bàn bằng máy tính bảng. Sai sót được hạn chế tối đa vì khách hàng có thể đối chiếu kiểm tra các món đã dùng dễ dàng ngay lập tức.</p>

    </div>
    <div class="col-md-6"><img src="https://maybanhang.net/wp-content/themes/Chameleon/images/quanlynhahang/tinh-tien.jpg" alt="tính tiền" ></div>
</div>
