@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Tạm Khóa</h1>
    <h2 class="text-danger">Tại khoản hiện thời đang bị khóa, vui lòng thử lại sau</h2>
</hgroup>
